[project]
site_name = "Jershlabs Wiki"

nav = [
    {"Home" = "index.md"},
    {"Guides" = [
        "mounting-drives.md",
        "setting-up-git.md",
        "setting-up-semaphore.md",
        "setting-up-terraform.md",
        "setting-up-wsl.md",
    ]}
]

# Palette toggle for automatic mode
[[project.theme.palette]]
media = "(prefers-color-scheme)"
toggle.icon = "lucide/sun-moon"
toggle.name = "Switch to light mode"

# Palette toggle for light mode
[[project.theme.palette]]
media = "(prefers-color-scheme: light)"
scheme = "default"
toggle.icon = "lucide/sun"
toggle.name = "Switch to dark mode"

# Palette toggle for dark mode
[[project.theme.palette]]
media = "(prefers-color-scheme: dark)"
scheme = "slate"
toggle.icon = "lucide/moon"
toggle.name = "Switch to system preference"
